<%= form_for (@estudiante) do |f| %> 
   <p> 
      <%= f.label :nombre, "Nombre" %>
      <br />
      <%= f.text_field :nombre, {:value => @nombre} %>
   </p>
   <p> 
      <%= f.label :apellido_materno, "Apellido Materno" %>
      <br />
      <%= f.text_area :apellido_materno, {:value => @apellido_materno} %>
   </p>
   <p>
      <%= f.label :apellido_paterno, "Apellido Paterno" %>
      <br />
      <%= f.text_field :apellido_paterno, {:value => @apellido_paterno} %>
   </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
