<%= form_for(@politecnico) do |f| %>
  <% if @politecnico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@politecnico.errors.count, "error") %> prohibited this politecnico from being saved:</h2>

      <ul>
      <% @politecnico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :materia %><br>
    <%= f.text_area :materia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
