<h1>Lista de Estudiantes Politecnicos de la carrera de Computacion</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Materia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @politecnicos.each do |politecnico| %>
      <tr>
        <td><%= politecnico.nombre %></td>
        <td><%= politecnico.apellido %></td>
        <td><%= politecnico.materia %></td>
        <td><%= link_to 'Show', politecnico %></td>
        <td><%= link_to 'Edit', edit_politecnico_path(politecnico) %></td>
        <td><%= link_to 'Destroy', politecnico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Politecnico', new_politecnico_path %>
