<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @politecnico.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @politecnico.apellido %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @politecnico.materia %>
</p>

<%= link_to 'Edit', edit_politecnico_path(@politecnico) %> |
<%= link_to 'Back', politecnicos_path %>

<h2> Ingrese el codigo de la Materia </h2>
<%= form_tag({:controller => "formularios", :action => "por_get"}, :method => "get") do %>
   <%= label_tag "c贸digo", "C贸digo de materia " %>
   <%= text_field_tag "codigo", "", :size => 5, :maxlenght => 5, :placeholder => "C贸digo", :required => "required" %>
   <br />
   <%= submit_tag "Enviar" %>
<% end %>
<div id="resultados">
   <% if @codigo %>
      <% if @materia %>
         <p> <%= @materia [:nombre] %> <%= @materia [:carrera] %> </p>
      <% else %>
         <p> La materia con el c贸digo <%= @codigo %> no ha podido ser encontrado. </p>
      <% end %>
   <% end %>
</div>


