<h2> El codigo que pertenece a la materia es: </h2>
<%= form_tag({:controller => "formularios", :action => "por_get"}, :method => "get") do %>
<div id="resultados">
   <% if @codigo %>
      <% if @materia %>
         <p> <%= @materia [:nombre] %> <%= @materia [:carrera] %> </p>
      <% else %>
         <p> La materia con el código <%= @codigo %> no ha podido ser encontrado. </p>
      <% end %>
   <% end %>
</div>
<%= link_to 'Back', politecnicos_path %>
<% end %>